.contact-us {
  background-color: #1a3a52;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  height: 250px;
  text-align: center;
  padding-top: 50px;
  line-height: 16px;
}

.contact-us-statement {
  font-size: 14px;
  line-height: normal;
  color: white;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.contact-us-button {
  color: #1a3a52;
  font-weight: 600;
  background-color: #c9a961;
  border: none;
  border-radius: 3px;
  padding: 15px 25px 15px 25px;
  margin-right: 20px;
  margin-top: 20px;
}

.contact-us-button:hover {
  background-color: #d4b574;
  cursor: pointer;
}

.call-button {
  background-color: transparent;
  border: 1.5px;
  border-color: white;
  border-style: solid;
  color: white;
  border-radius: 3px;
  padding: 13px 25px 13px 25px;
  font-weight: 600;
}

.call-button:hover {
  background-color: white;
  color: #1a3a52;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}