.footer {
  display: grid;
  grid-template-rows: 1fr 20px;
  background-color: #0f1f2e;
  height: 250px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  max-width: 1000px; 
  margin: 0 auto; 
  padding-left: 20px; 
  padding-right: 20px; 
}

@media (max-width: 800px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px; 
  }
  .footer {
    height: auto; 
    padding-bottom: 40px;
  }
  .quick-links-title {
    margin-top: 0; 
  }
}

@media (max-width: 450px) {
  .footer-grid {
    grid-template-columns: 1fr; 
  }
  .separator-line {
      width: 90%;
  }
}

.footer-logo {
  height: 60px;
  margin-bottom: 10px;
}

.footer-description {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.quick-links {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quick-links-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #c9a961;
  margin-top: 30px;
}

.individual-quick-links a {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 22px;
}

.separator-line {
  max-width: 850px; 
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 0.5px;
  background-color: gray;
  line-height: 0;
  margin-bottom: 10px;
}

.copyright {
  color: rgb(190, 189, 189);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 0;

}

