nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px; 
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 1000;
}

.ahbs-logo {
  height: 60px;
}

.right-section {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-around;
}

.get-started-button {
  color: white;
  background-color: #1a3a52;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0;
  padding: 10px 16px 10px 16px;
}

@media (max-width: 850px) {
  .header {
    padding: 0 20px;
    height: 80px; 
  }
  
  .ahbs-logo {
    height: 45px; 
  }

  .right-section {
    width: auto;
    gap: 10px;
    font-size: 12px;
  }

  .right-section a:nth-child(2) { 
    display: none;
  }
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .right-section {
        flex-wrap: wrap; 
        justify-content: center;
        width: 100%;
        margin-top: 5px;
    }
    .right-section a {
        font-size: 11px;
    }
}


