nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 1000;
}

.ahbs-logo {
  height: 60px;
}

.right-section {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-around;
}

.get-started-button {
  color: white;
  background-color: #1a3a52;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0;
  padding: 10px 16px 10px 16px;

}

