.why-us {
  background-color: whitesmoke;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.why-us-title {
  font-size: 25px;
  font-weight: 700;
  color: #1a3a52;
  margin-bottom: 15px;
}

.why-us-overview {
  font-size: 13px;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.why-us-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 25px;
  margin-left: 205px;
  margin-right: 205px;
}

.individual-grid {
  width: 150px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 3px;
  padding: 30px 20px 30px 20px;
}

.individual-grid-icon {
  font-size: 35px;
  margin-bottom: 15px;
}

.individual-grid-title {
  color: #1a3a52;
  font-family: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 15px;
}

.individual-grid-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 22px;
}

